html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    position: relative;
}

h1 {

}

h2 {

}

.navbar {
    justify-content: space-between;
}

.progressReporter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    min-height: 47px;
    background-color: lightgoldenrodyellow;
    display: none;
}

.progressInfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ok {
    background-color: lightgreen !important;
}

.error {
    background-color: #f44336 !important;
}

main {
}

.mainTab {
    margin-top: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.item {
    margin-bottom: 1em;
    width: 100%;
    min-width: 350px;
    background-color: #eee;
    border: 1px solid silver;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.item .itemHeading {
    margin-bottom: 1em;
    text-decoration: underline;
}

.item h3 {
    font-size: 1.5em !important;
}

.item .itemContent {
    margin-bottom: 10px;
    min-height: 4em;
    border-bottom: 1px solid silver;
}

.item .itemForm {
    margin-bottom: 10px;
    min-height: 4em
}

.item .itemActionView {
    margin-top: 20px;
}

.executor button {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.executor button .buttonDescr {
    vertical-align: middle;
}

.executor i {
    margin-left: 20px;
    vertical-align: middle !important;
}

.hidden {
    display: none;
}

.rightAlign {
    float: right;
}

.resultTab {
    padding: 10px;
    overflow: auto;
}

/* The alert message box */
.messageBox {
    padding: 20px;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: large;
    z-index: 200;
}