html {
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    position: relative;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
    padding: 0;
    margin: 0;
    background-color: #fff;
}

h1 {

}

h2 {

}

button {
    border: 0;
    font-family: 'Roboto', sans-serif !important;
}

.alternative {
    background-color: #f0a37d;
}

.navbar {
    display: flex;
    background-color: #aaa;
    padding: 8px;
    z-index: 10000;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}

.navbar .repoSelector {
    align-self: center;
    margin-left: 20px;
    font-size: 1.1em;
    border-radius: 10px;
    background: #333;
    color: white;
}

.navbar .repoSelector select {
    line-height: 1.2em;
}

.navbar .progress {
    margin-left: 20px;
    color: #333;
    font-weight: 700;
    font-size: 1.2em;
}

.navbar img {
    display: block;
    max-width: 180px;
    max-height: 80px;
    width: auto;
    height: auto;
}

.navbar a.navbar-brand {
    margin-left: auto;
    font-size: 3.0em;
    margin-right: 10px;
}

.navbar a, a:hover, a:visited.navbar-brand {
    margin-left: auto;
    font-size: 3.0em;
    text-decoration: none;
    color: #333;
}

.mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.toolbar {
    width: 100%;
    background-color: #343a40;
    color: white;
}

.toolbar a:active, a:focus, input, input:active, input:focus {
    outline: none 0;
}

.toolbar-items {
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 150px;
}

.toolbar .validators {
    max-height: 100px;
    padding: 20px;
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.toolbar .validators h3 {
    font-size: 1.0em;
    text-decoration: underline;
}

.toolbar .validators .validatorItems {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.toolbar .validators .validatorItem {
    display: inline-block;
    padding: 3px 5px;
    border-radius: 10px;
}

.toolbar .validators .validatorItem.active {
    background-color: #f0a37d;
    color: #333;
}

.actions {
    align-self: center;
    width: 300px;
    display: flex;
    justify-content: space-around;
    border-right: 1px solid #aaa;
    padding-right: 8px;
}

.actions button.big-action-button {
    z-index: 1000;
    font-size: 0.8em;
    height: 100px;
    width: 100px;
    border-radius: 4px;
    color: #fff;
    letter-spacing: 1px;
    display: inline-block;
    outline: none;
}

.actions button.big-action-button.analyze {
    background-color: #68b86a;
}

.actions button.big-action-button.repair {
    background-color: #e55812;
}

.actions button.big-action-button:hover:enabled, button.btn-analyze:focus:enabled {
    border: 0;
}

.actions button.big-action-button.analyze:hover:enabled, button.btn-analyze.analyze:focus:enabled {
    background-color: #7ee081;
}

.actions button.big-action-button.repair:hover:enabled, button.btn-analyze.repair:focus:enabled {
    background-color: #f0a37d;
}

.actions button.big-action-button:disabled {
    background-color: #eee;
    color: #aaa;
}

.actions button.big-action-button i.material-icons {
    font-size: 5.0em;
}

.toolbar p.buttonDescr {
    font-weight: 700;
}

.toolbar .progressInfo p {
    padding: 10px 0;
}

.progress {
    align-self: center;
}

.resultWrapper {
    margin-top: 10px;
}

.resultTab {
    padding: 20px;
    overflow: auto;
}

.dataTables_wrapper {
    margin-top: 15px;
}

.dataTable {
    font-size: 0.82em;
}

.dataTable thead {
    background-color: #aaa;
}

.dataTable tbody {
    border: 1px solid #333;
}

.dataTable tr:nth-child(even) {
    background-color: #eee;
}

.dataTable tr.REPAIRED {
    background-color: #7ee081;
}

.dataTable tr.IS_REPAIRABLE {
    background-color: lightyellow;
}

.dataTable tr.FAILED {
    background-color: lightcoral;
}

.dataTable td {
    border-bottom: 1px solid #333;
}

table.dataTable td.repairOption {
    text-align: center;
    vertical-align: middle
}

table.dataTable td.repairOption a, a:visited, a:hover {
    color: #333
}

.dataTables_wrapper .dataTables_length {
    margin-bottom: 8px;
}

.hidden {
    display: none;
}

.rightAlign {
    float: right;
}

.resultSummary {
    font-size: 1.2em;
}

/* The alert message box */
.messageBox {
    padding: 20px;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: large;
    z-index: 200;
}