html {
    overflow-y: scroll;
}

/* The alert message box */

.messageBox {
    padding: 20px;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: large;
    z-index: 200;
}

.error {
    background-color: #f44336; /* Red */
}

.message {
    background-color: darkgreen; /* Red */
}

.navbar form {
    margin-bottom: 0em;
}

main {
    margin-top: 70px;
}

.col-fixed-400 {
    padding-left: 5px;
    padding-right: 10px;
    width: 400px;
    position: fixed;
    height: 100%;
    box-shadow: lightgray 2px 2px 2px;
    z-index: 100;
}

.query-panel .col-offset-400 {
    padding-left: 450px;
    z-index: 0;
}

.query-panel .card {
    margin-bottom: 0;
}

.queryInput {
    height: 100px;
}

.queryResultItem {
    font-size: smaller;
}

.textarea {
    width: 100%;
    height: 150px;
}

.textcomplete-dropdown {
    border: 1px solid #ddd;
    background-color: white;
}

.textcomplete-dropdown li {
    border-top: 1px solid #ddd;
    padding: 2px 5px;
}

.textcomplete-dropdown li:first-child {
    border-top: none;
}

.textcomplete-dropdown li:hover,
.textcomplete-dropdown .active {
    background-color: rgb(110, 183, 219);
}

.textcomplete-dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
}

.textcomplete-dropdown a:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.rightAlign {
    float: right;
}